<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js'></script>
<div class='background-image' style='background-image: url(/science_of_feeling_great.jpg)';>
  <div class='row' style='margin:40px'>
    <div class='col'>
      <div class="panel panel-default">
        <div class='panel panel-header'>
          <img src='/nell_natural_elements_logo.png'  alt= "nell">
        </div>
        <div class="panel-body">
          <div class='23andme'>
            <a class='.btn-default' style="background-image:url('23andme.jpg')"
            href="https://api.23andme.com/authorize/?redirect_uri=http://snp.lifebit-biotech.com&response_type=code&client_id=a2e401e2dc7aa172df1b466597edcb8b&scope=basic rs123">
            <img src="/23andme.jpg",  alt= "23andme"></a>
          </div>
          <!-- <div class='takeDNA'>
            <a class='.btn' href='localhost:3000/purchase'>Take DNA Test</a>
          </div>
          <div class='uploadDNA'>
            <form action="http://localhost:3000/api/txtDNA"
             enctype="multipart/form-data"
             method="post">
              <input type="submit">Upload DNA Txtfile</button>
            </form>
          </div>
         after selected put in link to lifebit template -->
        </div>
      </div>
    </div>
  </div>
</div>
